#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        // Volume control
        volume: volume_control {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&kp C_VOL_DN>;
        };
        
        // Scroll control - USE MOVE_Y instead of SCRL_*
        scroll: scroll_control {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_Y(-100)>, <&msc MOVE_Y(100)>;  // Note: negative is up, positive is down
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Volume Control (default)
        default_layer {
            display-name = "Volume";
            bindings = <&to 1>;
            sensor-bindings = <&volume>;
        };
        
        // Layer 1: Mouse Scroll
        scroll_layer {
            display-name = "Scroll";
            bindings = <&to 0>;
            sensor-bindings = <&scroll>;
        };
    };
};