#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <&msc SCRL_DOWN>;  // Pressing the dummy key = scroll
            sensor-bindings = <&inc_dec_kp A B>;  // Encoder = just send A/B for now
        };
    };
};